.fixed-bar {
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: rgba(28, 28, 28, 1) ;
  font-family: Montserrat;
  padding: 10px;
  z-index: 9999;
  text-align: center; 
}


.logo {
  margin-left: 10px;
  display: flex;
  align-content: center;
  left: 0;
  height: 50px;
}