/* NavBarTemp2.css */

/* Основной контейнер */
.template-container {
    background-color: #f8f9fa;
    padding: 10px;
    border-bottom: 2px solid #ccc;
  }
  
  /* Навигационная панель */
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  /* Левая часть навигационной панели */
  .navbar-left {
    display: flex;
    align-items: center;
  }
  
  /* Кнопка логотипа */
  .logo-button {
    background: none;
    border: none;
    padding: 0;
    font-size: 18px;
    font-weight: bold;
    color: #333;
    cursor: pointer;
  }
  
  /* Ссылки в левой части */
  .navbar-links {
    margin-left: 20px;
  }
  
  .nav-button {
    background: none;
    border: none;
    padding: 5px 10px;
    font-size: 16px;
    color: #333;
    cursor: pointer;
  }
  
  /* Правая часть навигационной панели */
  .navbar-auth {
    display: flex;
    align-items: center;
  }
  
  /* Кнопки аутентификации */
  .auth-button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 8px 16px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 10px;
  }
  
  .auth-button:hover {
    background-color: #0056b3;
  }
  