.navigation-panel {
    position: relative; /* Устанавливаем относительное позиционирование для родительского элемента */
  }
  
  .buttons {
    position: absolute; /* Устанавливаем абсолютное позиционирование для контейнера кнопок */
    top: 0; /* Позиционируем его относительно верхнего края родительского элемента */
    right: 0; /* Позиционируем его относительно правого края родительского элемента */
  }
  
  /* Можно добавить дополнительные стили по вашему усмотрению */
  