.bodyhome {
    margin: 0px;
    padding: 0px; 
}

.centered-content {
    text-align: center;
    margin-top: 100px; 
}


.card-pattern {
    margin-top: 50px;
    
}

.text-empty {
    margin-top: 0px; 
}

.image-empty {
    margin-top: 20px;
    width: auto; 
    height: 450px;
}

.card-pattern-o {
    display: flex;
}

.footer-pattern {
    margin-top: 100px;
}