.bodyhome {
    margin: 0px;
    padding: 0px; 
}

.centered-content {
    text-align: center;
    margin-top: 55px; 
    background: linear-gradient(to right, #121313, #0f0f0f);
    color: white;

}


.card-pattern {
    margin-top: 50px;
    
}

.text-empty {
    margin-top: 0px; 
}

.image-empty {
    margin-top: 20px;
    width: auto; 
    height: 450px;
}

.card-pattern-o {
    display: flex;
    background: grey;

}

.footer-pattern {
    margin-top: 100px;
}