.bodyhome {
    margin: 0px;
    padding: 0px; 
}

.centered-content {
    text-align: center;
    margin-top: 60px; 
    background: linear-gradient(to right, #121313, #0f0f0f);
    color: #ffffff;
    height: 115px;
}

.image-empty {
    margin-top: 20px;
    width: auto; 
    height: auto;
    
}

.card-pattern-o {
    display: flex;
    background: grey; 
    gap: 0px; 
}

