.button {
  padding: 10px 20px; 
  border: 1px solid #0D1F23; 
  border-radius: 4px; 
  text-decoration: none; 
  color: white; 
  text-align: center;
  background-color: #0D1F23; 
  cursor: pointer; 
}
