.form {
  background-color: white;
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 600px;
  margin-top: 50px;
}

.input {
  width: 100%;
  padding: 10px 15px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
  font-family: inherit;
}

.textarea {
  width: 100%;
  padding: 10px 15px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
  font-family: inherit;
}

.buttonForm {
  background-color: black;
  color: white;
  text-transform: uppercase;
  border: none;
  border-radius: 5px;
  padding: 15px 0;
  margin: 10px 0;
  cursor: pointer;
  font-family: inherit;
}
